language: node_js
node_js:
- '4'
sudo: false
cache:
  directories:
  - node_modules
env:
- EMBER_TRY_SCENARIO=default
- EMBER_TRY_SCENARIO=ember-1.13
- EMBER_TRY_SCENARIO=ember-release
- EMBER_TRY_SCENARIO=ember-beta
- EMBER_TRY_SCENARIO=ember-canary
matrix:
  fast_finish: true
  allow_failures:
  - env: EMBER_TRY_SCENARIO=ember-canary
before_install:
- npm config set spin false
- npm install -g bower
- bower --version
- npm install phantomjs-prebuilt
- node_modules/phantomjs-prebuilt/bin/phantomjs --version
install:
- npm install
- bower install
script:
- ember try:one $EMBER_TRY_SCENARIO test --skip-cleanup
deploy:
  provider: heroku
  api_key:
    secure: a6n5AGyYGu+8qgFVsvbUBy/CkBA0EMu9K+O29gXC1mHWnFA2m1slR6m58gNxTEnkgEi+mbyJo0NbJmZJvDM3sFgkmvAYTUKPe7OwEwi5rAoR+8oXvJN6uGfI7+/xGpgIZp5MrxeAz43QUpvRs5PobUxi9LixGXp7uFbMvfNU+I5V6+B/+LrGmz7aeiY/YfAQs7zSLLeG1cfsnuau5epUSFM369TrPkld130kZy0c+ADKrQJ/DAf2PK398PyxvFAyfrXY63lJHAmt1zeJTdyxHxBi7l+GrAAlH7fJoqQ17GAYTn+pmwoPkRsoZTBFp3Ghd607nAAYnInjWltfFlAeY14Rke6EBdo7PTkUqSPrH6mpWqpgoYMO+zoQZJywGsCaU7EoWxnt51kd0XnJbM5wLtguOB/S+mQ0ssUPFLties0KsmPf4Y+dRgCrypTHjymS7A5aM8tdscsBvekzHmEny6zIr9MMpGD9iYaZ1Yi3M/GfScqJBxIRgzCkZTJctnAxGcqFZ6afd9WntvpCWdjwpKm7m2L3tWVt6qrUrjE4F2zAl+ioWCrA8/A+08YdX33v4g2FNae+m8KitYgXgA+J5LLQ/GMakeLoO+Ab3jIe6KHyYzFkLFX6hnoFp1DRMjf4MBhby4gjv0jYya4H05aYQ4gbPZXToDDzHQQbb7GZE3o=
  app: ember-parallax
  on:
    repo: mike-north/ember-parallax
    branch: master
